<div class="container">

    <div class="row-fluid">
        <div class="offset4 span6">
            <h1>hitome-bore</h1>
            <h1>management system</h1>
        </div>
    </div>

    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <% errMsg.forEach(function(msg) { %>
        <span class="label label-important"><h4><%= msg %></h4></span>
        <% }); %>
        <input type="text" class="input-block-level" placeholder="Email address" name="userName" value="<%= userName %>">
        <input type="password" class="input-block-level" placeholder="Password" name="password">
        <!--
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->